.header{
    display: flex;
    padding: 30px;
    justify-content: center;
}

.header_menu{
    display: flex;
    gap: 80px;
    border: 2px solid; 
    border-radius: 30px;
    color: rgba(209, 155, 105, 0.616);
    padding: 0px;
    background-color: rgba(209, 155, 105, 0.616);
    border-style: hidden;
}

.header_menu_link{
    display: flex;
    text-decoration: none;
    color: black; 
    padding: 10px;
}

.header_menu_link:hover{
    background-color: #d77171;
    border-radius: 30px;
    border-color: #d77171;
    border-style: hidden;
    padding: 10px;
}

.fondo{
    position: fixed;       
    top: 0; /* Para que el video se pegue a la parte superior*/
    left: 0; /* para que el video se pegue a la izquierda */
    width: 100%; /* para que le video ocupe todo el ancho de la pantalla */
    height: 100%; /* para que el video ocupe todo el alto de la pantalla  */
    object-fit: fill;   /* ajusta el video para que no queden bordes */
    z-index: -1;        /* deja el video hasta atras de los elementos */
}

.contenido{

    justify-content: center;
    padding: 9% 20%;
    gap: 50px;
    color: #FD7979;
    font-family: var(--fuente-quicksand);
    font-size: 24px;
}

footer{
    display: flex;
    padding: 30px;
    justify-content: center;
    color: white;
}